# Ignore Android Studio specific files
.idea/
*.iml
.gradle
/local.properties
/.idea/workspace.xml
/.idea/libraries
/.idea/modules.xml

# Ignore build and output directories
build/
captures/
.externalNativeBuild/

# Ignore system files
.DS_Store
*.log

# Ignore Gradle-specific files
.gradle/
**/build/

# Ignore miscellaneous
*.apk
*.ap_
*.hprof

# Avoid uploading Android Studio generated project files
.idea/
.gradle/
captures/
local.properties

# Ignore Proguard mapping files
proguard/

# Ignore IntelliJ IDEA specific files
.idea/
*.iml

